
@{
    ViewBag.Title = "EmailBevestigen";
}

<div class="container">
    <div class="jumbotron" style="background-color: forestgreen">
        <h1 style="text-align: center; color: #fff;">Boeking verzonden!</h1>
        <p style="text-align: center; color: #fff">Uw boeking is bevestigd. We hebben een bevestiging via uw mail verzonden!</p>
        <br />
        <center>
            <a style="color: white;" href="@Url.Action("Index", "MijnBoeking")">
                <div style="width: 200px; height: 40px; border: 2px solid #fff; color: #fff; ">
                    <center><h4 style="font-family: 'Comic Sans MS';">OKE</h4></center>
                </div>
            </a>
        </center>
    </div>
    
</div>

